{% block content %}
    <div class="pure-g">
        <div class="about-left block size-1-3 pure-u-1-3">
            <img class="profile" src="{{ url('theme://images/profile') }}/{{ page.header.profile_image.src }}" alt="{{ page.header.profile_image.alt_text }}">
            <a class="twitter-timeline" data-height="400" data-link-color="#487A94" href="https://twitter.com/{{ page.header.twitter_handle }}">Tweets by {{ page.header.twitter_handle }}</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="about-right block pure-u-2-3">
            {{ page.content }}
        </div>
    </div>
    <hr>
{% endblock %}