{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/branding/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('http://yui.yahooapis.com/pure/0.6.0/pure-min.css', 100) %}
        {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', 99) %}
        {% do assets.addCss('theme://css/custom.css', 98) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 100) %}
        {% do assets.addJs('theme://js/illuminate.js', 99) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
    <div id="header">
        <div class="wrapper padding">
            <a class="logo left" href="{{ base_url == '' ? '/' : base_url }}">
                <img src="{{ url('theme://images/branding/banner.png') }}">
            </a>
            {% block header_navigation %}
            <nav class="main-nav">
                {% include 'partials/navigation.html.twig' %}
            </nav>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block body %}
    <section id="body">
        <div class="wrapper padding">
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}
    <div class="footer text-center">
        <div class="wrapper padding">
            <div id="social-media">
                <a href="https://plus.google.com/+Carlybornsteinediting/about" target="_blank"><img src="{{ url('theme://images/social/googleplus_icon.png') }}" /></a>
                <a href="https://www.linkedin.com/pub/carly-bornstein/66/b48/b98" target="_blank"><img src="{{ url('theme://images/social/LinkedIn_icon.png') }}" /></a>
                <a href="https://twitter.com/fromcarly" target="_blank"><img src="{{ url('theme://images/social/Twitter_icon.png') }}" /></a>
                <a href="https://www.facebook.com/cbbookediting" target="_blank"><img src="{{ url('theme://images/social/facebook_icon.png') }}" /></a>
            </div>
            <img id="heart-book" src="{{ url('theme://images/BookTattooImage.png') }}">
            <p>Site created by <a href="https://twitter.com/WebwardCo" target="_blank">Webward Co.</a></p>
            <p>Content copyright {{ "now"|date("Y") }}. Carly T. Hayward. All rights reserved.</p>
        </div>
    </div>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
