{% set feed_url = blog.url == '/' or blog.url == base_url_relative ? (base_url_relative~'/'~blog.slug) : blog.url %}
{% set new_base_url = blog.url == '/' ? '' : blog.url %}

<div class="sidebar-content">
	<div class="notices gold">
		<h4>The Editor's Folio</h4>
		<p>Thoughts on publishing, writing, editing, and all things books from the editors at Book Light Editorial.</p>
	</div>
</div>

{% include 'partials/socialbuttons.html.twig' with {'url' : page.url} %}

{% if config.plugins.simplesearch.enabled %}
<div class="sidebar-content">
    <h4>{{ 'SIDEBAR.SIMPLE_SEARCH.HEADLINE'|t }}</h4>
    {% include 'partials/simplesearch_searchbox.html.twig' %}
</div>
{% endif %}

<div class="sidebar-content">
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
        <form action="//booklighteditorial.us15.list-manage.com/subscribe/post?u=41cbd1b3120b5a7852e2b113c&amp;id=2186454ed1" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
                <center>
                    <img src="/user/themes/illuminate/images/book_light_editorial_newsletter.jpg" />
                    <h6>Want to hear about all things writing, editing, and publishing (not to mention deals on services)?<br><b>Subscribe to our newsletter!</b></h6>
                </center>
                <div class="mc-field-group form-field">
                    <label class="inline" for="mce-EMAIL">Email <span class="required">*</span></label>
                    <input id="mce-EMAIL" class="email" type="email" placeholder="Enter your email address" name="EMAIL">
                </div>
                <div class="mc-field-group form-field">
                    <label class="inline" for="mce-FNAME">First Name</label>
                    <input id="mce-FNAME" type="text" placeholder="Enter your first name" name="FNAME">
                </div>
                <div class="mc-field-group form-field">
                    <label class="inline" for="mce-LNAME">Last Name</label>
                    <input id="mce-LNAME" type="text" placeholder="Enter your last name" name="LNAME">
                </div>
                <div id="mce-responses" class="clear">
                    <div id="mce-error-response" class="response alert notices red" style="display:none"></div>
                    <div id="mce-success-response" class="response alert notices green" style="display:none"></div>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups -->
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                    <input type="text" name="b_41cbd1b3120b5a7852e2b113c_2186454ed1" tabindex="-1" value="">
                </div>
                <div class="clear buttons">
                    <button id="mc-embedded-subscribe" class="button" type="submit" name="subscribe">Subscribe</button>
                </div>
            </div>
        </form>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->
</div>

{% if config.plugins.relatedpages.enabled and related_pages|length > 0 %}
    <h4>{{ 'SIDEBAR.RELATED_POSTS.HEADLINE'|t }}</h4>
    {% include 'partials/relatedpages.html.twig' %}
{% endif %}
{% if config.plugins.random.enabled %}
<div class="sidebar-content">
	<h4>{{ 'SIDEBAR.RANDOM_ARTICLE.HEADLINE'|t }}</h4>
	<a class="button" href="{{ base_url }}/random"><i class="fa fa-retweet"></i> {{ 'SIDEBAR.RANDOM_ARTICLE.FEELING_LUCKY'|t }}</a>
</div>
{% endif %}
{% if config.plugins.taxonomylist.enabled %}
<div class="sidebar-content">
    <h4>{{ 'SIDEBAR.POPULAR_TAGS.HEADLINE'|t }}</h4>
    {% include 'partials/taxonomylist.html.twig' with {'base_url':new_base_url, 'taxonomy':'tag'} %}
</div>
{% endif %}
{% if config.plugins.archives.enabled %}
<div class="sidebar-content">
    <h4>{{ 'SIDEBAR.ARCHIVES.HEADLINE'|t }}</h4>
	{% include 'partials/archives.html.twig' with {'base_url':new_base_url} %}
</div>
{% endif %}
{% if config.plugins.feed.enabled %}
<div class="sidebar-content syndicate">
    <h4>{{ 'SIDEBAR.SYNDICATE.HEADLINE'|t }}</h4>
    <a class="button" href="{{ feed_url }}.atom"><i class="fa fa-rss-square"></i> Atom 1.0</a>
    <a class="button" href="{{ feed_url }}.rss"><i class="fa fa-rss-square"></i> RSS</a>
</div>
{% endif %}